<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Test.mapper.PermissionDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Test.pojo.Permission">
        <id column="id" property="id" />
        <result column="perm_name" property="permName" />
        <result column="perm_url" property="permUrl" />
        <result column="parent_id" property="parentId" />
        <result column="is_menu" property="isMenu" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, perm_name, perm_url, parent_id, is_menu
    </sql>

</mapper>
